<link href="/api/css/style.css" rel="stylesheet" type="text/css" />
<div class="main-container">
  <img src="/api/assets/eg-icon.svg" alt="Express Gateway Logo" />
  <form action="/api/oauth2/authorize/decision" method="post" class="dialog-form">
    <input name="transaction_id" type="hidden" value="<%= transactionId %>" />
    <p>Olá <%= user.firstname %>!</p>
    <p><b><%= client.name %></b> está solicitando acesso.</p>
    <p><b>Perfil solicitado:</b> <%= scope %></p>
    <p>Você confirma o acesso?</p>
    <div>
      <button type="submit" formmethod="POST" id="allow">Confirmar</button>
      <button type="submit" formmethod="POST" id="deny">Cancelar</button>
    </div>
  </form>
</div>
