<link href="/api/css/style.css" rel="stylesheet" type="text/css" />
<div class="main-container">
  <img src="/api/assets/eg-icon.svg" alt="Express Gateway Logo" />
  <form action="/api/oauth2/login" method="post" class="login-form">
    <div class="form-row">
      <label>Usuário:</label>
      <input type="text" name="username" /><br />
    </div>
    <div class="form-row">
      <label>Senha:</label>
      <input type="password" name="password" />
    </div>
    <div class="form-row button-container">
      <button type="submit" formmethod="POST">Entrar</button>
    </div>
  </form>
</div>
